@font-face {
  font-family: "Arial";
  src: url(../../../assets/fonts/Arial/ArialMT.ttf); 
}

@font-face {
  font-family: "Georgia";
  src: url(../../../assets/fonts/Georgia/Georgia.ttf);
}

* {
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth; 
}

body{
  background: url(../../../assets/img/start-screen-background.png);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  font-family: "Arial";
  font-weight: 400;
}

body.lock{
  overflow: hidden;
}

:root {
  --color-primary-light: #fddcc4;
  --color-primary: #f1cdb3;
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-3xl: #292929;
  --font64: 64px;
  --font44: 44px;
  --font35: 35px;
  --font32: 32px;
  --font20: 20px;
  --font17: 17px;
  --font15: 15px;
  --font13: 13px;
  --font12: 12px;
}

.header,
.main,
.footer {
  max-width: 1280px;
  margin: 0 auto;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

 .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-dark-3xl);
}
 

.button{
  width: 207px;
  height: 52px;
  border-radius: 100px;
  border: var(--color-primary) solid 2px;
  font-family: "Georgia";
  font-size: var(--font17);
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.button a{
  text-decoration: none;
  color: var(--color-dark-3xl);
}

/* Header */

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 75px;
  margin: 30px 40px 64px;
}

.logo{
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo a{
  text-decoration: none;
}

.logo-img{
  width: 75px;
  height: 75px;
}

.nav{
  margin-left: auto; 
}

.nav-list{
  list-style: none;
  display: flex;
  gap: 36px;
}

.nav-item a{
  text-decoration: none;
  color: var(--color-dark-s);
  font-weight: 400;
  line-height: 160%;
  font-size: var(--font17);
  position: relative;
}

.nav-item a::after{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  transition: 0.3s ease-in-out;
}

.nav-item a:hover{
  color: var(--color-light-s);
}

.nav-item a:hover::after{
  width: 100%;
  background: var(--color-primary);
}

.nav-item-active a{
  color: var(--color-light-s);
}

.nav-item-active a::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background-color: var(--color-primary);
}

/*NOT-ONLY*/

 #not-only{
  display: flex;
  justify-content:center;
  margin: 0 40px;
}

.not-only-info{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  max-width: 890px;
  margin: 60px 0 150px 0;
}

.not-only-info-title{
  font-family: "Georgia";
  font-weight: 400;
  font-size: var(--font64);
  text-align: center;
  line-height: 130%;
  color: var(--color-primary);
  margin: 0 0 42px;
}

.not-only-info-desc{
  font-size: var(--font15);
  line-height: 160%;
  max-width: 527px;
  text-align: center;
  color: var(--color-dark-s);
  margin-bottom: 42px;
} 

.not-only_btn{
  background-color: var(--color-primary);
}

.not-only_btn:hover{
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  cursor: pointer;
}

.parallax {
  width: 100%;
  height: 400px;
  background-image: url(../../../assets/img/main_bg1.jpg); 
  background-size: cover;
  background-attachment: fixed;
}

  /*ABOUT*/

  #about{
    padding: 90px 90px 87px;
    background-color: var(--color-light-xl);
  }

  .about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    min-height: 588px; 
  }

  .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_photo{
      background-image: url(../../../assets/img/about.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 300px;
      height: 408px;
  }

  .about-info{
    max-width: 430px;
  }

  .about-info-title{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: var(--font35);
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    max-width: 370px;
    margin: 4px 0 25px;
  }

  .about-desc{
    font-size: var(--font15);
    line-height: 160%;
    color: var(--color-dark-xl);
    margin-bottom: 25px;
  }

  .about_btn{
    background-color: var(--color-primary);
    width: 285px;
  }
  
  .about_btn:hover{
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    cursor: pointer;
  }


   /*OUR-FRIENDS*/

   #our-friends{
    min-height: 877px;
    background-color: var(--color-light-l);
    padding-top: 80px;
  }

  .our-friends-section{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    min-width: 0;
  }

  .our-friends-title{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: var(--font35);
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    text-align: center;
    max-width: 420px;
    margin: 0 auto;
  }

/* Слайдер*/

/* Ограничивающая оболочка*/
 .slick-list {
   overflow: hidden;
 } 
/* Лента слайдов */
.slick-track{
  display: flex;
}

.pets-cards{
  position: relative;
  padding: 0 60px;
}

/* Стрелка */
.pets-cards .slick-arrow{
  position: absolute;
  top:50%;
  margin-top: -30px;
  z-index: 5;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: 0;
} 

/* Стрелка влево */
.pets-cards .slick-arrow.slick-prev{
  background: url(../../../assets/svg/sl-arrow_l.svg) 0 0 / 100% no-repeat;
  left: 0;
  cursor: pointer;
}

/* Стрелка вправо */
.pets-cards .slick-arrow.slick-next{
  background: url(../../../assets/svg/sl-arrow_r.svg) 0 0 / 100% no-repeat;
  right: 0;
  cursor: pointer;
}

/* Точки (булиты) */
.pets-cards .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pets-cards .slick-dots li{
  list-style: none;
  margin: 0 10px;
} 

/* Элемент точки */
.pets-cards .slick-dots button{
  font-size: 0;
  width: 10px;
  height: 12px;
  border: var(--color-primary) solid 1px;
  background: var(--color-primary);
  border-radius: 50%;
} 

/* Активная точка */
.pets-cards .slick-dots li.slick-active button{
  background-color: transparent;
  border: var(--color-primary) solid 1px;
  }

.our-friends-card_img{
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 9px 9px 0px 0px;
}
  
  .our-friends-card{
    width: 270px;
    height: 435px;
    background-color: var(--color-light-s);
    border-radius: 9px;
    text-align: center;
    margin: 0 58px; 
  }
  
  .our-friends-card:hover{
    cursor: pointer;
    background-color: var(--color-light-xl);
  }
  
  .our-friends-card:hover .our-friends-card_btn{
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }
  
  .our-friends-card_img{
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 9px 9px 0px 0px;
  }
  
  .our-friends-card_name{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: var(--font20);
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    text-align: center;
    margin: 25px auto 31px;
  }

  .our-friends-section a{
     margin: 0 auto;
  }
  
  .our-friends-card_btn{
    width: 187px;
    display: block;
    margin: 0 auto;
    align-items: center;
    background: transparent;
  }
  
  .our-friends-card_btn:hover{
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    cursor: pointer;
  }
  
  .our-friends_btn{
    background-color: var(--color-primary);
    width: 285px;
    margin-bottom: 100px;
  }
  
  .our-friends_btn:hover{
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    cursor: pointer;
  } 

/*HELP*/

#help{
  min-height: 611px;
  background-color: var(--color-light-xl);
  padding-top: 80px;
}

.help-title{
  max-width: 420px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: var(--font35);
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin: 0 auto 60px;
}

.help-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 87px;
  max-width: 1029px;
  margin: 0 auto 100px; 
}

.help-item{
  height: 112px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.help-item > img{
  display: block;
  margin: 0 auto;
}

.help-item_text{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: var(--font20);
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin: 0;
}


/*DONATION*/

#donation{
  min-height: 461.5px;
  background-color: var(--color-light-l);
  padding-top: 80px;
}

.donation_content{
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin: 0 auto 100px;
}

.donation_img{
  background: url(../../../assets/img/pets.png);
  background-size: cover;
  width: 505px;
  height: 283px;
  margin-top: 11px;
}

.donation-title{
  max-width: 300px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: var(--font35);
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin: 0;
}

.donation-desc{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: var(--font15);
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin: 20px 0;
}

.div-card-number{
  width: 349px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  background-color: var(--color-primary);
  border-radius: 9px;
}

.div-card-number:hover{
  background-color: var(--color-primary-light);
  cursor: pointer;
}

.icon-card-number{
  width: 30px;
  height: 23px;
  display: inline-block;
  margin: 0;
}

.a-card-number{
  font-family: 'Georgia';
  font-size: var(--font20);
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--color-dark-l);
}

.donation-desc_after{
  max-width: 380px;
  font-style: italic;
  font-size: var(--font12);
  line-height: 18px;
  color: var(--color-dark-m);
  margin-top: 20px;
}


/*CONTACTS*/

#contacts {
  margin-top: 113px;
  margin-bottom: 100px;
}

.contacts-title{
  max-width: 420px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: var(--font35);
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-dark-l);
  margin: 0 auto 30px;
  padding-left: 40px;
}


.contacts-info {
  display: flex;
  justify-content: space-between;
}

.contacts-item {
  list-style: none;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: var(--font15);
  color: var(--color-dark-l);
  margin-bottom: 20px;
}

#map {
  width: 860px;
  height: 520px;
}


/*FOOTER*/

#footer{
  background: url(../../../assets/img/start-screen-background.png);
  background-size: 100vw 100%;
  background-repeat: no-repeat;
  min-height: 200px;
  padding-top: 40px;
}

#footer .container{
  display: flex;
  justify-content:space-around;
  padding: 0 40px;
}

.footer-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-title{
  margin: 16px 0 0;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: var(--font32);
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}

.footer-subtitle{
  margin: 16px 0 0;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: var(--font20);
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 9px 0;
}

.footer-contacts > li {
  list-style-type: none;
}

.footer-contacts-item-img_instagram,
.footer-contacts-item-img_facebook ,
.footer-contacts-item-img_twitter {
  width: 32px;
  height: 32px;
  fill: var(--color-light-s);
}

.footer-contacts-item-img_instagram:hover,
.footer-contacts-item-img_facebook:hover,
.footer-contacts-item-img_twitter:hover{
  fill: var(--color-primary);
}


.btn-up {
  position: fixed;
  background-image: url(../../../assets/svg/btn-up.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  bottom: -45px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: var(--color-primary);
  z-index: 12;
  cursor: pointer;
  transition-duration: 0.3s;
  border: 0;
  border-radius: 50%;
}

.btn-up:hover {
  bottom: 35px;
}

.shown {
  bottom: 25px;
}


/*POPUP*/

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s ease 0s;
  }
  
  .popup.open{
    opacity: 1;
    visibility: visible;
  }
  
  .popup.open .popup_content{
    opacity: 1;
    transform: translate(0px , 0px);
  }
  
  .popup_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  }
  
  .popup_content{
    position: relative;
    border-radius: 10px;
    background-color: var(--color-light-xl);
    color: var(--color-dark-3xl);
    transition: all 0.4s ease 0s;
    opacity: 0;
    transform: translate(-100px , 0px);
    padding:  30px 40px;
  }

  .popup-link{
    text-decoration: none;
  }
  
  .popup_close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight:700;
    font-size: var(--font20);
    text-decoration: none;
    color: var(--color-dark-3xl);
  }
  
  .donation-form{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-gap: 30px;
    width: 870px;
    margin: 0 auto ;
  }

  .message {
    display: none;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #f71616;
    border: 1px solid var(--basic-dark-red);
    border-radius: 4px;
  }

  .donation-form-info{
    display: flex;
    gap:10px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .donation-form-title{
  max-width: 420px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: var(--font32);
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-dark-l);
  }

  .donation-form__user-data{
    border: none;
    padding: 0;
    margin: 0;
  }
  .input-container{
    position: relative;
  }

.input-icon{
    position: absolute;
    z-index: 5;
    top: 15px;
    left: 15px;
    width: 15px;
    height: 15px;
}

.donation-form input[name="name"],
.donation-form input[type="email"], 
.donation-form input[type="tel"],
.donation-form .donation-form__left-side input[type="number"]{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 11px 15px 11px 43px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 18px;
  color: var(--color-dark-3xl);
  border: 1px solid var(--color-dark-3xl);
}

.donation-form__right-side{
  padding: 120px 10px 0px;
  border: 1px solid var(--color-dark-3xl);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.donation-form__card {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  border: none;
}

.donation__card-front {
  position: relative;
  padding: 15px 20px;
  width: 360px;
  height: 211px;
  box-sizing: border-box;
  background-color: #BCBCBC;
  background-image: url(../../../assets/svg/card-visa.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 34px;
  border-radius: 5px;
  z-index: 1;
}

.donation__card-front::after {
  content: '';
  position: absolute;
  top: 65px;
  right: 20px;
  width: 53px;
  height: 32px;
  background-image: url(../../../assets/svg/card-Mastercard.svg);
  background-repeat: no-repeat;
}

.donation__card-front label:nth-child(1) {
  margin-top: 0;
}
.donation__card-front label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}


.donation__card-front input[name=card-number] {
  width: 215px;
}
.donation__card-front input, .donation__card-front select {
  display: inline-block;
  padding: 9px;
  box-sizing: border-box;
  line-height: 13px;
  border: 1px solid #A4A4A3;
}

.donation__card-front select[name=expiration-month] {
  margin-right: 10px;
}
.donation__card-front select {
  position: relative;
  width: 100px;
  height: 35px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--color-light-xl) url(../../../assets/svg/icon-form-select-arrows.svg) no-repeat center right;
  cursor: pointer;
}

.donation__card-front input[name=cardholder-name] {
  width: 100%;
}

.donation__card-back {
  position: absolute;
  top: 30px;
  right: 0;
  box-sizing: border-box;
  width: 360px;
  height: 211px;
  background-color: #939393;
  border-radius: 5px;
  z-index: 0;
}

.donation__card-back .black-line {
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
  height: 45px;
  background-color: #161615;
}

.card-back__content {
  margin-right: 20px;
  margin-left: auto;
  width: 75px;
  text-align: center;
}

.card-back__content input {
  margin-top: 5px;
  margin-bottom: 6px;
  padding: 9px;
  box-sizing: border-box;
  line-height: 13px;
  width: 100%;
  border: 0.5px solid #A4A4A3;
}

.card-back__content p {
  margin: 0 auto;
  width: 55px;
  text-align: left;
  font-size: 10px;
  line-height: 12px;
}

.donation_btn{
  background-color: var(--color-primary);
  width: 285px;
  margin: 0 auto;
}

.donation_btn:hover{
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  cursor: pointer;
} 

.popup-pets-img{
    width: 500px;
    height: 500px;
    border-radius: 10px 0px 0px 10px;
}

.popup-pets-info-title{
  font-size: var(--font35);
  font-weight: 400;
  line-height: 130%;
  margin: 0 0 10px;
  letter-spacing: 0.06em;
}

.popup-pets-desc{
  font-size: var(--font15);
  line-height: 17px;
  margin: 0 0 40px;
  letter-spacing: 0.06em;
}

.popup-pets-ul{
  padding-left: 15px;
}

.popup-pets-li{
  font-size: var(--font15);
  line-height: 17px;
  margin-bottom: 10.5px;
  letter-spacing: 0.06em;
}

.pets-popup .popup_content{
  width: 900px;
  height: fit-content;
  background-color: var(--color-light-s);
  display: flex;
  gap: 29px;
  border-radius: 9px;
}

.popup-pets-img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.popup-pets-info{
  margin-top: 50px;
  font-family: 'Georgia';
  max-width: 353px;
}

.popup-pets-info-title{
  font-size: var(--font35);
  font-weight: 400;
  line-height: 130%;
  margin: 0 0 10px;
  letter-spacing: 0.06em;
}

.popup-pets-desc{
  font-size: var(--font15);
  line-height: 17px;
  margin: 0 0 40px;
  letter-spacing: 0.06em;
}

.popup-pets-ul{
  padding-left: 15px;
}

.popup-pets-li{
  font-size: var(--font15);
  line-height: 17px;
  margin-bottom: 10.5px;
  letter-spacing: 0.06em;
}

.popup-pets-li b{
  letter-spacing: 0.14em;
}

.popup-pets-li::marker{
  color: var(--color-primary);
}